<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <div>
      <h3>Your Secrets</h3>
      <ul>
        <div class="card mx-auto" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <% userSecrets.forEach((secret) => { %>
              <li class="list-group-item d-flex align-items-center">
                <%= secret.secret_text %>
              </li>
            <% }); %>
          </ul>
        </div>
      </ul>
    </div>

    <div>
        <h3>All Secrets</h3>
        <ul>
          <div class="card mx-auto" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <% allSecrets.forEach((secret) => { %>
                <li id="item_secret" class="list-group-item">
                  <%= secret.secret_text %>
                </li>
              <% }); %>
            </ul>
          </div>
        </ul>
    </div>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
